In [4]:
def factorial(num):
    if num > 1:
        return (num * factorial (num -1))
    else : 
        return num

In [6]:
factorial(5)

120

In [7]:
def sumAll(num):
    if num > 1:
        return (num + sumAll (num -1))
    else : 
        return num

In [8]:
sumAll(10)

55

In [14]:
def palindrome(string):
    if len(string) <= 1:
        return True
    
    if string[0] == string[-1]:
        return palindrome(string[1:-1])
    else:
        return False

In [22]:
palindrome("toonoot")

True

In [23]:
## 정수 n이 입력으로 주어졌을 때, n을 1, 2, 3의 합으로 나타낼 수 있는 방법의 수를 구하시오
## f(n) = f(n-1) + f(n-2) + f(n-3)
def func(data):
    if data == 1:
        return 1
    elif data == 2:
        return 2
    elif data == 3:
        return 4
  
    return func(data -1) + func(data - 2) + func(data - 3)

In [24]:
func(4)

7